.detailscontent .myplant_diary .diary_title {
  width: 310px;
  height: 25px;
  margin: 2% 0 3% 2%;
}

.detailscontent .myplant_diary .diary_title .title {
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  float: left;
}

.detailscontent .myplant_diary .diary_title .write {
  width: 70px;
  height: 25px;
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  float: right;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 20px;

  text-align: center;

  cursor: pointer;
}

.detailscontent .myplant_diary .diary_create {
  width: 310px;
  height: 120px;

  background: #242424;
  border: 2px dashed #ffffff;
  box-sizing: border-box;
  border-radius: 8px;

  margin: 2% 0 3% 2%;
}

.detailscontent .myplant_diary .diary_create .title {
  width: 99%;
  height: 20px;
  float: left;
  margin-top: 1%;
}

.detailscontent .myplant_diary .diary_create .title .titlename {
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 180px;
  border: none;
  border-bottom: 2px solid white;
  height: 15px;
  margin: 0 0 0 -20px;
  text-align: left;
  color: white;
  background: #242424;
}

.detailscontent .myplant_diary .diary_create .title .create {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 34px;
  height: 15px;
  line-height: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: white;
}

.detailscontent .myplant_diary .diary_create .title .cancel {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 34px;
  height: 15px;
  line-height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: white;
  margin-left: 2%;

  cursor: pointer;
}

.detailscontent .myplant_diary .diary_create .text {
  width: 95%;
  height: 80px;
  margin: 2% 0 0 3%;
  background: #242424;
  border: 0.25px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  float: left;
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: white;
}

.detailscontent .myplant_diary .diary_divisionbar {
  width: 307px;
  height: 3px;
  border-bottom: 2px dashed #ffffff;
  margin: 1% 0 3% 3%;
}

.myplants_card .plantscard {
  width: 310px;
  height: 120px;

  background: #242424;
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;

  margin: 2% 0 5% 2%;
  color: white;
}

.myplants_card .plantscard .title {
  width: 99%;
  height: 20px;
  float: left;
  margin-top: 3%;
}

.myplants_card .plantscard .title .titlename {
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 180px;
  height: 15px;
  text-align: left;
  color: white;
  margin: 0 0 0 5%;
}

.myplants_card .plantscard .title .modify {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 34px;
  height: 15px;
  line-height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin-top: -20px;
  margin-right: 42px;
  color: white;

  cursor: pointer;
}

.myplants_card .plantscard .title .modifyconfirm {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 50px;
  height: 15px;
  line-height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin-top: -20px;
  margin-right: 42px;
  color: white;

  cursor: pointer;
}

.myplants_card .plantscard .title .delete {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 34px;
  height: 15px;
  line-height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin-top: -20px;
  margin-right: 1px;
  color: white;
  margin-left: 2%;

  cursor: pointer;
}

.myplants_card .plantscard .date {
  width: 80%;
  height: 20px;
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: left;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.8);
  float: left;
}

.myplants_card .plantscard .contents {
  width: 95%;
  height: 65px;
  margin: 0 0 0 3%;
  background: #242424;
  float: left;
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: white;
  text-align: left;
  margin-left: 4%;
}

.myplants_card .plantscard .title2 {
  width: 99%;
  height: 20px;
  float: left;
  margin-top: 1%;
}

.myplants_card .plantscard .title2 .titlename2 {
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 180px;
  border: none;
  border-bottom: 2px solid white;
  height: 15px;
  text-align: left;
  color: white;
  background: #242424;
}

.myplants_card .plantscard .title2 .modifyconfirm {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 60px;
  height: 15px;
  line-height: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: white;
  margin-top: 1px;

  cursor: pointer;
}

.myplants_card .plantscard .title2 .delete {
  background: #242424;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  float: right;
  width: 34px;
  height: 15px;
  line-height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: white;
  margin-top: 1px;
  margin-right: 5px;

  cursor: pointer;
}

.myplants_card .plantscard .contents2 {
  width: 95%;
  height: 80px;
  margin: 2% 0 0 3%;
  background: #242424;
  box-sizing: border-box;
  border-radius: 8px;
  float: left;
  font-family: Binggrae Melona;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: white;
}
